<div id="port" class="expertise">
  <div class="expertice-grids">
    <div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
      <div class="expertise-head">
        <h3><%= t(:about) %></h3>
        <p><%= t(:aboutinfo) %></p>
      </div>
      <div class="expertise-left-inner-grids">
        <div class="row">
          <div class="e-left-inner-grid col-sm-6">
            <div class="e-left-inner-grid-right">
              <h4><%= t(:about1) %></h4>
              <p><%= t(:about11) %></p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="e-left-inner-grid col-sm-6">
            <div class="e-left-inner-grid-right">
              <h4><%= t(:about2) %></h4>
              <p><%= t(:about22) %></p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="row">
        <div class="e-left-inner-grid col-sm-6">
          <div class="e-left-inner-grid-right">
            <h4><%= t(:about3) %></h4>
            <p><%= t(:about33) %></p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid col-sm-6">
          <div class="e-left-inner-grid-right">
            <h4><%= t(:about4) %></h4>
            <p><%= t(:about44) %></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

    </div>
    <div class="clearfix"> </div>
  </div>
</div>
