<center><h5><%= t(:contacts) %></h5>
<div class="copy-right">
  <p>
     Вопросы сотрудничества<br>
     <%= t(:mail) %> <a href="mailto:sales@newyorkerclub.ru">sales@newyorkerclub.ru</a><br>
     <%= t(:phone) %> <a href="tel:+78126794752">8(812)679-47-52</a><br>
     <%= t(:phone) %> <a href="tel:+78002006452">8(800)200-64-52</a>
  </p>
  <hr>
  <p>
    Прочие вопросы<br>
     <%= t(:mail) %> <a href="mailto:tobacco@newyorkerclub.ru">tobacco@newyorkerclub.ru</a><br>
     <%= t(:phone) %> <a href="tel:+79090961933">8(909)096-19-33</a><br>
     Whatsapp: <a href="https://wa.me/79090961933">8(909)096-19-33</a><br>
     Instagram: <a href="https://www.instagram.com/newyorkerclub/">@newyorkerclub</a><br><br>
     Template by <a href="http://w3layouts.com/">W3layouts</a>
  </p>
  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
</div>
