<div id="services" class="services">
  <div class="container">
    <div class="service-head text-center">
      <h2><%= t(:tobacco) %></h2>
      <span> </span>
    </div>
    <!--- services-grids --->
    <div class="services-grids text-center">
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3><%= t(:infotobacco) %></h3>
          <p><%= t(:infotobacco2) %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3><%= t(:infoaroma) %></h3>
          <p><%= t(:infoaroma2) %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3><%= t(:infoconstituents) %></h3>
          <p><%= t(:infoconstituents2) %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
          <h3><%= t(:infoquality) %></h3>
          <p><%= t(:infoquality2) %></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!--- services-grids --->
  </div>
</div>
