<div class="tastesbg">
      <div class="clearfix"> </div>
      <!---- portfolio-works ---->
      <div id="tastes" class="tastes">
        <div class="tm-head">
        <h3><%= t(:tastes) %></h3>
        <p><%= t(:title2) %></p><br>
      </div>
        <div class="portfolio-works">
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t1.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Pink Panter</h4>
            <p><%= t(:t1) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t2.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Durian</h4>
            <p><%= t(:t2) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t3.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Rose</h4>
            <p><%= t(:t3) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t4.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Elki Palki</h4>
            <p><%= t(:t4) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t5.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Winnie Pooh</h4>
            <p><%= t(:t5) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t6.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Galaxy </h4>
            <p><%= t(:t6) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t7.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Halva</h4>
            <p><%= t(:t7) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t8.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Korova</h4>
            <p><%= t(:t8) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t9.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Peppermint</h4>
            <p><%= t(:t9) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t10.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Brazil</h4>
            <p><%= t(:t10) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t11.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>New York</h4>
            <p><%= t(:t11) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t12.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Sunrise</h4>
            <p><%= t(:t12) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t13.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Dushezz</h4>
            <p><%= t(:t13) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t14.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Mors</h4>
            <p><%= t(:t14) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t15.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Arlekino</h4>
            <p><%= t(:t15) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t16.jpg")%>
          </div>
          <div class="portfolio-work-grid-caption">
            <h4>Hooligans</h4>
            <p><%= t(:t16) %></p>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t17.jpg")%>
          </div>
        </div>
        <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
          <div class="portfolio-work-grid-pic">
            <%= image_tag("tastes/t18.jpg")%>
          </div>
        </div>
        <div class="clearfix"> </div><br>
      </div>
    </div>
      <!---- portfolio-works ---->
    </div>
  </div>
  <%= render 'welcome/copyright' %>
