<div class="tastesbg">
  <div class="clearfix"> </div>
  <!---- portfolio-works ---->
  <div id="tastes" class="tastes">
    <div class="tm-head">
    <h3><%= t(:tastes) %></h3>
    <p><%= t(:title2) %></p><br>
  </div>
    <div class="portfolio-works">
    <div id="pinkpanter">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t1.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Pink Panter</h4>
        <p><%= t(:t1) %></p>
      </div>
    </div>
  </div>
  <div id="durian">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t2.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Durian</h4>
        <p><%= t(:t2) %></p>
      </div>
    </div>
  </div>
  <div id="rose">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t3.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Rose</h4>
        <p><%= t(:t3) %></p>
      </div>
    </div>
  </div>
  <div id="elkipalki">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t4.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Elki Palki</h4>
        <p><%= t(:t4) %></p>
      </div>
    </div>
  </div>
  <div id="winniepooh">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t5.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Winnie Pooh</h4>
        <p><%= t(:t5) %></p>
      </div>
    </div>
  </div>
  <div id="galaxy">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t6.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Galaxy </h4>
        <p><%= t(:t6) %></p>
      </div>
    </div>
  </div>
  <div id="halva">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t7.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Halva</h4>
        <p><%= t(:t7) %></p>
      </div>
    </div>
  </div>
  <div id="korova">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t8.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Korova</h4>
        <p><%= t(:t8) %></p>
      </div>
    </div>
  </div>
  <div id="peppermint">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t9.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Peppermint</h4>
        <p><%= t(:t9) %></p>
      </div>
    </div>
  </div>
  <div id="newyork">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t11.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>New York</h4>
        <p><%= t(:t11) %></p>
      </div>
    </div>
  </div>
  <div id="sunrise">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t12.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Sunrise</h4>
        <p><%= t(:t12) %></p>
      </div>
    </div>
  </div>
  <div id="dushezz">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t13.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Dushezz</h4>
        <p><%= t(:t13) %></p>
      </div>
    </div>
  </div>
  <div id="mors">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t14.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Mors</h4>
        <p><%= t(:t14) %></p>
      </div>
    </div>
  </div>
  <div id="arlekino">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t15.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Arlekino</h4>
        <p><%= t(:t15) %></p>
      </div>
    </div>
  </div>
  <div id="hooligans">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t16.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Hooligans</h4>
        <p><%= t(:t16) %></p>
      </div>
    </div>
  </div>
  <div id="vinchik">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t17.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Vinchik</h4>
        <p><%= t(:t17) %></p>
      </div>
    </div>
  </div>
  <div id="panda">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t18.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Panda</h4>
        <p><%= t(:t18) %></p>
      </div>
    </div>
  </div>
  <div id="mohito">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t19.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Mohito</h4>
        <p><%= t(:t19) %></p>
      </div>
    </div>
  </div>
  <div id="barbaras">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t20.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Barbara S</h4>
        <p><%= t(:t20) %></p>
      </div>
    </div>
  </div>
  <div id="negroni">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t21.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Negroni</h4>
        <p><%= t(:t21) %></p>
      </div>
    </div>
  </div>
  <div id="creamsoda">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t22.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Cream soda</h4>
        <p><%= t(:t22) %></p>
      </div>
    </div>
  </div>
  <div id="basilico">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t23.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Basilico</h4>
        <p><%= t(:t23) %></p>
      </div>
    </div>
  </div>
  <div id="rosemary">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t24.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>RoseMary</h4>
        <p><%= t(:t24) %></p>
      </div>
    </div>
  </div>
  <div id="lavanda">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t25.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Lavanda</h4>
        <p><%= t(:t25) %></p>
      </div>
    </div>
  </div>
<!--
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t26.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Belka</h4>
        <p><%= t(:t26) %></p>
      </div>
    </div>
  -->
  <div id="redbull">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t27.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Red Bull</h4>
        <p><%= t(:t27) %></p>
      </div>
    </div>
  </div>
  <div id="pesto">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t28.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Pesto</h4>
        <p><%= t(:t28) %></p>
      </div>
    </div>
  </div>
  <div id="cucumber">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t29.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Cucumber</h4>
        <p><%= t(:t29) %></p>
      </div>
    </div>
  </div>
  <div id="abrikosice">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t30.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Abrikos Ice</h4>
        <p><%= t(:t30) %></p>
      </div>
    </div>
  </div>
  <div id="amaretto">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t31.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Amaretto</h4>
        <p><%= t(:t31) %></p>
      </div>
    </div>
  </div>
  <div id="pinacolada">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t32.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Pina Colada</h4>
        <p><%= t(:t32) %></p>
      </div>
    </div>
  </div>
  <div id="bananamama">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t33.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Banana mama</h4>
        <p><%= t(:t33) %></p>
      </div>
    </div>
  </div>
  <div id="granato">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t34.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Granato</h4>
        <p><%= t(:t34) %></p>
      </div>
    </div>
  </div>
  <div id="melon">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t35.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Melon</h4>
        <p><%= t(:t35) %></p>
      </div>
    </div>
  </div>
  <div id="greentea">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t36.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Green tea</h4>
        <p><%= t(:t36) %></p>
      </div>
    </div>
  </div>
  <div id="princess">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t37.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Princess</h4>
        <p><%= t(:t37) %></p>
      </div>
    </div>
  </div>
  <div id="kakaomaya">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t38.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Kakao Maya</h4>
        <p><%= t(:t38) %></p>
      </div>
    </div>
  </div>
  <div id="cocojambo">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t40.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Coco Jambo</h4>
        <p><%= t(:t40) %></p>
      </div>
    </div>
  </div>
  <div id="cola">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t41.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Cola</h4>
        <p><%= t(:t41) %></p>
      </div>
    </div>
  </div>
  <div id="kuraga">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t42.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Kuraga</h4>
        <p><%= t(:t42) %></p>
      </div>
    </div>
  </div>
  <div id="lime">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t43.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Lime</h4>
        <p><%= t(:t43) %></p>
      </div>
    </div>
  </div>
  <div id="donlemon">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t44.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Don Lemon</h4>
        <p><%= t(:t44) %></p>
      </div>
    </div>
  </div>
  <div id="lemonpie">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t45.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Lemon Pie</h4>
        <p><%= t(:t45) %></p>
      </div>
    </div>
  </div>
  <div id="ildar">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t46.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>iLdar</h4>
        <p><%= t(:t46) %></p>
      </div>
    </div>
  </div>
  <div id="mango">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t47.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Mango</h4>
        <p><%= t(:t47) %></p>
      </div>
    </div>
  </div>
  <div id="christmasfruit">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t48.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Christmas fruit</h4>
        <p><%= t(:t48) %></p>
      </div>
    </div>
  </div>
  <div id="zelenatrawa">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t49.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Zelena Trawa</h4>
        <p><%= t(:t49) %></p>
      </div>
    </div>
  </div>
  <div id="tropicalfruits">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t50.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Tropical Fruits</h4>
        <p><%= t(:t50) %></p>
      </div>
    </div>
  </div>
  <div id="halloween">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t51.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Halloween</h4>
        <p><%= t(:t51) %></p>
      </div>
    </div>
  </div>
  <div id="lilu">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t52.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Li Lu</h4>
        <p><%= t(:t52) %></p>
      </div>
    </div>
  </div>
  <div id="eskimo">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t53.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Eskimo</h4>
        <p><%= t(:t53) %></p>
      </div>
    </div>
  </div>
  <div id="malinajam">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t54.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Malina Jam</h4>
        <p><%= t(:t54) %></p>
      </div>
    </div>
  </div>
  <div id="vanilasky">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t55.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Vanila Sky</h4>
        <p><%= t(:t55) %></p>
      </div>
    </div>
  </div>
  <div id="globus">
    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
      <div class="portfolio-work-grid-pic">
        <%= image_tag("tastes/t56.jpg")%>
      </div>
      <div class="portfolio-work-grid-caption">
        <h4>Globus</h4>
        <p><%= t(:t56) %></p>
      </div>
    </div>
  </div>
    <div class="clearfix"> </div><br>
  </div>
</div>
  <!---- portfolio-works ---->
</div>
</div>
<div class="clearfix"> </div><br>
<%= render 'welcome/copyright' %>
